<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a href="/languages">Языки</a></li>
        <li><a href="/texts">Тексты</a></li>
        <li><a href="/">Настройки</a></li>
        <li><a href="/users">Пользователи</a></li>
        <li><a href="/questions">Обратная связь</a></li>
        <li><a href="/earn_orders">Заявки на ввод</a></li>
        <li><a href="/refunds">Заявки на вывод</a></li>
        <li><a href="/mailing">Рассылка</a></li>
        <li><a href="/bets">Ставки</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>
    </ul>
</nav>
