{% extends "bootstrap/base.html" %}

{% block title %}Обратная связь{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
    {% endif %}

    <div class="form-group row">
        <div class="col-xs-1">
        </div>

        <div class="col-xs-5">
            <form method="POST" enctype="multipart/form-data" class="form-horizontal">
                <div class="panel panel-primary">
                    <div class="panel-heading">Обратная связь</div>
                    <div class="panel-body">
                        <label for="answer">Ответ</label>
                        <input class="form-control" name="answer" id="answer" type="text">
                    </div>
                </div>

                <button type="submit" class="btn btn-danger btn-lg pull-right">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style_bootstrap.css') }}">
{% endblock %}
